.nav_container {
  width: 200px;
  ul {
    margin: 20px auto;
    li {
      padding: 10px;

      div {
        display: flex;
        justify-content: left;

        span {
          margin-left: 10px;
        }
      }
    }
  }
}
